* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Fondo general */
body {
  min-height: 100vh;
  background: linear-gradient(135deg, #141e30, #243b55);
  color: white;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
.navbar {
  background: rgba(0,0,0,0.5);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #00e1ff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.nav-links a:hover {
  color: #00e1ff;
}

/* CONTENIDO */
.contenedor {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.card {
  background: rgba(0,0,0,0.6);
  padding: 35px 45px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 0 25px rgba(0,0,0,0.8);
}

.card h1 {
  text-align: center;
  margin-bottom: 25px;
}

.card p {
  font-size: 14px;
  margin: 10px 0 5px;
}

.card input {
  width: 100%;
  padding: 9px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.card button {
  width: 100%;
  margin-top: 18px;
  padding: 11px;
  border: none;
  border-radius: 10px;
  background: #00e1ff;
  font-weight: bold;
  cursor: pointer;
}

.card button:hover {
  background: #00bcd4;
}

.card a {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: #00e1ff;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

/* FOOTER */
.footer {
  background: rgba(0,0,0,0.6);
  text-align: center;
  padding: 15px;
  font-size: 13px;
  color: #ccc;
}